@use "./base.scss";

h1:not(.no-underline) {
  border-color: var(--darkgray);
  border-bottom: outset;
  border-width: 0.2rem;
}

h2:not(.no-underline) {
  border-color: var(--darkgray);
  border-bottom: outset;
  border-width: 0.1rem;
}

h3:not(.no-underline) {
  border-color: var(--darkgray);
  border-bottom: outset;
  border-width: 0.1rem;
  width: 67%;
}

h4:not(.no-underline) {
  border-color: var(--darkgray);
  border-bottom: outset;
  border-width: 0.1rem;
  width: 50%;
}
