@use "./base.scss";

h1 {
  border-color: var(--darkgray);
  border-bottom: outset;
  border-width: 0.2rem;
}

h2 {
  border-color: var(--darkgray);
  border-bottom: outset;
  border-width: 0.1rem;
}

h3 {
  border-color: var(--darkgray);
  border-bottom: outset;
  border-width: 0.1rem;
  width: 67%;
}
